<nav class="navbar">
  <div class="navbar-brand">
    <a class="navbar-item">
      <img src="assets/images/logo-test.png">
    </a>
  </div>
  <div class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item">
        Home
      </a>
      <a class="navbar-item">
        Workflow
      </a>
      <a class="navbar-item">
        Current
      </a>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          More
        </a>
        <div class="navbar-dropdown">
          <a class="navbar-item">
            My subscriptions
          </a>
          <a class="navbar-item">
            Settings
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item">
            Report a problem
          </a>
        </div>
      </div>

    </div>
  </div>
</nav>
