<nav class="navbar is-primary">
  <div class="navbar-brand">
    <a class="navbar-item">
      <img src="assets/images/logo-test.png">
    </a>
    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" routerLink="/home" routerLinkActive="is-active" [routerLinkActiveOptions]="{exact: true}">
        Home
      </a>
      <a class="navbar-item" routerLink="/workflow" routerLinkActive="is-active">
        Workflow
      </a>
      <a class="navbar-item" routerLink="/current" routerLinkActive="is-active">
        Current
      </a>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          More
        </a>
        <div class="navbar-dropdown">
          <a class="navbar-item">
            Notifications
          </a>
          <a class="navbar-item">
            Settings
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item">
            Report a problem
          </a>
        </div>
      </div>

    </div>
    <div class="navbar-end">
      <a class="navbar-item">
        Login
      </a>
    </div>
  </div>
</nav>
