.hero {
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364) !important;
  // background-image: url('/assets/images/universe.jpg') !important;
  background-size: cover;
  background-position: center center;
}
